/* prism syntax highlighting stuff */
code[class*='language-'],
pre[class*='language-'] {
  @apply text-light-owl-gunpowder dark:text-night-owl-botticelli text-left whitespace-pre break-normal;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  @apply bg-light-owl-alto dark:bg-night-owl-cello;
  text-shadow: none;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  @apply bg-light-owl-alto dark:bg-night-owl-cello;
  text-shadow: none;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  @apply text-white bg-light-owl-alabaster dark:bg-night-owl-midnight;
}

:not(pre) > code[class*='language-'] {
  @apply whitespace-normal rounded-md p-0.5;
}

.token.comment,
.token.prolog,
.token.cdata {
  @apply text-light-owl-manatee dark:text-night-owl-nevada italic;
}

.token.punctuation {
  @apply text-light-owl-plum dark:text-night-owl-lilac;
}

.namespace {
  @apply text-light-owl-blue-chill dark:text-night-owl-jungle-mist;
}

.token.deleted {
  @apply text-light-owl-sunset dark:text-night-owl-salmon-pearl italic;
}

.token.symbol,
.token.property {
  @apply text-light-owl-blue-chill dark:text-night-owl-monte-carlo;
}

.token.tag,
.token.operator,
.token.keyword {
  @apply text-light-owl-plum dark:text-night-owl-bermuda;
}

.token.boolean {
  @apply text-light-owl-chesnut dark:text-night-owl-fiery-rose;
}

.token.number {
  @apply text-light-owl-lipstick dark:text-night-owl-tan;
}

.token.constant,
.token.function,
.token.builtin,
.token.char {
  @apply text-light-owl-havelock-blue dark:text-night-owl-malibu;
}

.token.selector,
.token.doctype {
  @apply text-light-owl-plum dark:text-night-owl-lilac italic;
}

.token.attr-name,
.token.inserted {
  @apply text-light-owl-havelock-blue dark:text-night-owl-yellow-green italic;
}

.token.class-name,
.token.atrule,
.token.attr-value {
  @apply text-light-owl-cod-gray dark:text-night-owl-chardonnay;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-light-owl-contessa dark:text-night-owl-botticelli;
}

.token.important,
.token.bold {
  @apply font-bold;
}

.token.italic {
  @apply italic;
}
